option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8501
  aws:elasticbeanstalk:environment:process:default:
    Port: 8501
    Protocol: HTTP
commands:
  01_install_streamlit:
    command: pip install streamlit
  02_run_streamlit:
    command: streamlit run app.py --server.port 8501 --server.address 0.0.0.0